section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #662d91;
    Font-family: Open Sans;
    Font-weight: 300;
    width: 100%;
    Box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: white;
}

section form div {
    display: inline-block;
    padding: 0px 20px;
    margin-right: 5px;
    border-left: 2px solid #4c256d ;
}

section form div p {
    display: flex;
    padding: 0px;
    margin: 0px;
}

a {
    display: inline-block;
    justify-content: center;
}

form button {
    margin-right: 25px;
}

button {
    background-color: #8a40cc;
    border-radius: 12px;
    border: 2px solid #8a40cc;
    color: white;
    padding: 5px;
}

img {
    width: 200px;
}

input {
    background-color: #2c1942;
    border-radius: 3px;
    border: 1px solid #2c1942;
    color: white;
}

select {
    background-color: #2c1942;
    border-radius: 3px;
    border: 1px solid #2c1942;
    color: white;
}
