<div>
<header>
    <h1>The Movie Corner</h1>
    <a routerLink="/favorites" routerLinkActive="active"><button>Show Favorites</button></a>
</header>

<form class="formclass" #searchForm="ngForm" (submit)="formSubmitted(searchForm)">

    <div>
        <p>search Year</p>
        <input name="year" type='text' placeholder="search by year" ngModel>
    </div>

    <div>
        <p>search Year</p>
        <input name="rating" type="number" placeholder="search by rating" ngModel>
    </div>

    <div>
    <input type="radio" [value]="true" name="greaterThanRating" ngModel> Greater Than
    <input type="radio" [value]="false" name="greaterThanRating" ngModel> Less Than
    </div>
    
    <select name="genre" ngModel onChange="this.searchForm.submit()">
        <option *ngFor="let genre of getGenres()" [value]="genre.id">{{genre.name}}</option>
    </select>
    
    <button type="submit">submit</button>
</form>
</div>
