<header>
    <h1>The Movie Corner</h1>
    <a routerLink="/favorites" routerLinkActive="active"><button>Show Favorites</button></a>
</header>

<form #searchForm="ngForm" (submit)="formSubmitted(searchForm)">
    <input name="year" type='text' placeholder="search by year" ngModel>

    <select name="genre" ngModel onChange="this.searchForm.submit()">
        <option *ngFor="let genre of getGenres()" [value]="genre.id">{{genre.name}}</option>
    </select>
    
    <button type="submit">submit</button>
</form>

