img {
    height: auto;
    width: 175px; 
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    Font-family: Open Sans;
    Font-weight: 300;
    margin: 20px;
    padding: 20px;
    width: 250px;
    Box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
}

.fas {
    color:rgb(180, 0, 255)
}