<header>
        <h2>Your Favorites</h2>
        <a routerLink ="/home" routerLinkActive="active"><button>Back to Discover Page</button></a>
</header>

<div class="favorites-container">
<div class="fave" *ngFor="let movie of getMovies()">
        <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/original' + movie.poster_path : 'https://via.placeholder.com/150'">
        <div class="movie-info">
        {{movie.title}}
        {{movie.release_date}}
        </div>
        <span title="Remove from Favorites List"><i class="fas fa-times" (click)="removeFromFavorites(movie)"></i></span>
</div>
</div>